.nav-text{
    margin-right: 18px;
}
.nav-all-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-bar{
    display: none;
}
@media (max-width: 768px) { 
    .app-bar{
        display: block;
        cursor: pointer;
      }
 }

@media (max-width: 768px) { 
    .nev-item{
        display: block;
      }
 }
.nav-last-item{
    padding-right: 10px;
}
.nav-item{
    display: flex;
}
 @media only screen and (max-width: 787px) {
    .nav-item{
      display: none;
    }
  }
.app-bar-item{
    position: absolute;
  z-index: 2;
  margin-top: 46px;
}
